.rvmrc

# phonegap files
local.properties
bin
gen
algorich-release-key.keystore

# sencha files
assets/www/build
assets/www/all-classes.js
assets/www/app-all.js
assets/www/app.jsb3
assets/www/archive
assets/www/resources/sass/.sass-cache/