h1 {
  text-align: center;
}

.content {
  width: 90%;
  background-color: #EBEBEB;
  margin: auto;
}

#display {
  margin: auto;
  font-size: 200%;
  text-align: center;
  color: #EBEBEB;
  background-color: #2F5B94;
}

#keyboard {
  margin: auto;
  border-spacing: 10px;
  text-align: center;
}

#keyboard td {
  width: 1%;
  padding: 1%;
  font-size: 200%;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
}

.button {
  text-align: center;
}

button {
  width: 95%;
  padding: 1%;
  font-size: 200%;
}